body {
    margin: 0;
    padding: 0;
}

#Side_bar ,.bg-color {

    background: linear-gradient(180deg, rgba(101, 144, 255, 0.43) -6.06%, rgba(126, 154, 255, 0.47) 21.33%, rgba(197, 199, 255, 0.3) 50.12%, rgba(187, 176, 255, 0.409659) 75.6%, rgba(219, 202, 255, 0.96) 103.99%);
    
    
}
hr{
width: 282px;
height: 0px;
border: 0.5px solid #EBEBEB;
}

#main_content{
    background-color: #E5E5E5;
}

.dashboard_padding_option{
    padding-top: 10%;
    padding-bottom: 16%;
}
.nav_name.active{
    color:#2E43F8 !important;
}
.logo{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 23.8348px;
line-height: 36px;
letter-spacing: 0.25px;
color: #1E2875;
}

.dashboard_padding_option_text{
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.25px;

color: #333333;
}

.Row {
   
    margin: 0;
}
.bg{
    background-color: white;
}

.Row1_text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.25px;

color: #272830;
}
.Row1_num1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.25px;
    
    color: #272830;
    }

.Row2_style{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.25px;
color: #333333;
}
.Row2_num1{
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 38px;
letter-spacing: 0.25px;

color: #2E43F8;
}


.Row2_num2{
  
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 38px;
letter-spacing: 0.25px;
color: #F5822F;

    }

.Row2_num3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.25px;
    
    color: #EE3C04;
 }

 .Row3_text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;
color: #000000;
 }

 
 /* main part column 2 */

 .bar_text{
left: 1121px;
top: 115px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.25px;
color: #333333;
 }

 .bg_side{
    background: linear-gradient(91.37deg, rgba(101, 144, 255, 0.43) 13.98%, rgba(126, 154, 255, 0.47) 34.04%, rgba(197, 199, 255, 0.72) 55.12%, rgba(187, 176, 255, 0.409659) 73.79%, rgba(219, 202, 255, 0.96) 94.58%); 
    padding: 17px;
 }

 .bg_text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.25px;

color: #000000;
 }

 .bg_subtext{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
letter-spacing: 0.25px;
color: #5630D3;
 }

 .Row_2_date{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 15px;
letter-spacing: 0.25px;

color: #000000;
 }

 .Row_3_date{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
letter-spacing: 0.25px;

color: #808080;


 }
 .mobile{
    width: 5%;
 }
 

 .mobile .nav_name{
    display: none;
}
.mobile .nav_logo-name{
    display: none;

}

 @media screen and (max-width:786px) {
    #Side_bar{
        width: 10%;

    }
    #Side_bar .nav_name{
        display: none;
    }
    #Side_bar .nav_logo-name{
        display: none;

    }
    
 }


 button:hover, a:hover{
    color:aqua;
    background-color: antiquewhite; 
    box-shadow: 4px 15px 10px -10px rgba(31, 31, 31, 0.8);
 transition: all 0.5s ease; 
 border-radius: 10px;
}

td{
    padding: 25px;
}
